<div class="container">
    <mat-card class="login-card">
        <mat-card-header>
            <mat-card-title>Adaptive Typing</mat-card-title>
            <mat-card-subtitle>Create Account</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field appearance="fill">
                <mat-label>Username</mat-label>
                <input [(ngModel)]="username" matInput>
            </mat-form-field>
        </mat-card-content>
        <mat-card-content>
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input [(ngModel)]="password" matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </mat-card-content>
        <mat-card-content>
            <mat-form-field appearance="fill">
                <mat-label>Confirm Password</mat-label>
                <input [(ngModel)]="confirmPassword" matInput [type]="confirmHide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="confirmHide = !confirmHide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions align="end">
            <button class="action" (click)="createAccount()" mat-raised-button color="primary">Create Account</button>
        </mat-card-actions>
    </mat-card>
</div>
